.mentoring_content
	margin-top 10px	
.MainPage
	font-family Stem,sans-serif

	.admin_exceptions_header-title
		margin 20px 0 0 0
		color #08c
		text-align: center

	.admin_exceptions_menu
		display flex
		flex-direction row
		justify-content space-around
		margin 20px 10vw 20px 10vw

		span
			display flex
			font-size 1em	
			font-weight 500
			cursor pointer
			border-bottom 2px solid #fff
			color #0a0a0a

		span:hover
			color #0a0a0a
			border-bottom 2px solid #2f73b6
			transform scale(1.03)	

		span.active
			color #0a0a0a
			border-bottom 2px solid #2f73b6
			transform scale(1.03)			

	.admin_exceptions_content
		margin auto
		width 99%
		min-height 400px
		box-shadow 0 0 3px 3px #ddd

		.StartPage
			min-height 400px
	
			.startpage_content
				display flex
				flex-direction column
				padding 10px
				line-height 1.5em
				font-size 1.5em
				margin-left 0px
				width 100%
				min-height 400px
				background-color azure

				img
					width 300px
					height 300px
					z-index 1
					margin auto
					top 0
					right 0
					bottom 0
					left 0
				
				.title
					margin 0 auto 20px auto
					text-align center

	.admin_exceptions_content-content
		min-height 350px
		overflow-y auto	
