
/* colors */
$grey-color = #b2b5c0
$dark-grey-color = #f5f6fa
$blue-color = #08c
$light-blue-color = #0099e6
@import './reset.css'
.MainPage
	max-width 1260px
	position relative
	margin 0 auto
	display flex
	flex-direction column
	min-height 200px
	background-color #fafafa
	padding 10px

	.main-container__row
		flex 1 1 auto
		width 100%
		padding 10px

		> *
			margin 5px

	/*choise selector start*/
	.choices__inner_custom
		background-color #fff
		border 1px solid $grey-color
		border-radius 2px

	.choices__item_custom
		color #8F97AC
		padding 10px 19px
	.choices__item--selectable_custom
		color black
	/*choise selector end*/

	/*global styles start*/
	h1 
		margin 0 0 22px
		padding: 0 
		font-family: "Roboto", sans-serif !important
		font-size: 32px !important
		line-height: 1.15625 !important
		letter-spacing: 0.01em !important
		font-weight: 500 !important

	h2
		margin: 20px 0 !important
		font-size: 24px !important
		font-family: "Roboto", sans-serif !important
		line-height: 1.15 !important
		letter-spacing: 0.01em !important
		font-weight: 500 !important
		
	h3 
		margin: 20px 0 !important
		font-size: 20px !important
		font-family: "Roboto", sans-serif !important
		line-height: 1.16666667
		letter-spacing: 0.01em
		font-weight: 500 !important
	hr
		height 0
		margin 26px 0 24px
		border-top none
		border-bottom 1px solid #CDD3E4

	/*global styles end*/
	.page_title
		display flex
		font-size 30px
		justify-content center
		font-weight 600
		color #665
	.preloader
		display flex
		justify-content center
		width 100px
		height 100px
		margin auto
	.link
		color #08c
		cursor pointer
		text-decoration underline
	.icon
		overflow hidden
		display inline-block
		vertical-align middle
		width 20px
		height 20px
	.icon--small
		height 60px
		width 60px
	.icon--big
		height 50px
		width 50px
		padding-right 10px
	.block--flex
		display flex
		flex-wrap wrap
	.flex--dir-column
		flex-direction: column;
	.font--small
		font-size 10px
	.btn
		display inline-block
		vertical-align middle
		padding 0.608em 15px
		min-width 120px
		max-width 100%
		overflow hidden
		cursor pointer
		user-select none
		white-space nowrap
		text-decoration none
		text-overflow ellipsis
		text-align center
		font normal 14px "Roboto" sans-serif
		color #fff
		background-color $blue-color
		outline none
		border 1px solid $blue-color
		border-radius 2px
		transition background-color 0.25s, border-color 0.25s, color 0.25s
		
	.btn:focus 
		outline  none

	.btn:visited 
		color  #fff

	.btn:hover 
		color  #fff
		background-color  $light-blue-color
		border-color  $light-blue-color

	.btn:disabled 
		cursor  default
		background-color  #D6DDE6
		border-color #D6DDE6

	.btn--bordered
		color $blue-color
		background-color transparent
		&:disabled
			background-color transparent
			color #D6DDE6
			border-color #D6DDE6
	.btn--small
		width: 120px

	.btn--middle
		width: 200px
		margin-right 10px

	.btn--large
		width: 300px
	.btn--red
		background-color #cc0038
		border-color #cc0038
		&:hover
			background-color #fb2744
			border-color #cc0038
	.w_100
		width 100%
	.pointer
		cursor pointer
	.icon-excel
		width 18px
		height 20px

	.btn--navigation
		display flex
		align-items center
		height 56px
		padding 5px 23px 6px
		
	.icon-download
		fill: #fff
		margin-right: 12px;

	.icon-arrow-back
		fill: #fff
		margin-right: 12px;

	.icon-calendar, .icon-calendar-2, .icon-calendar-3
		fill #8F97AC

	.btn--with-icon
		display flex
		align-items center
		justify-content center
		height 56px
		min-width 0
		padding 0 16px
		letter-spacing 0.01em
		white-space normal
		color #000
		background-color transparent
		border-color #CDD3E4
		border-radius 3px
		img
			width 30px
			margin-right 10px
		.icon
			position relative
			top -1px
			flex none
			margin-right 12px
		span 
			position relative
			top -1px
		&:hover
			color #000
			background-color rgba(0, 61, 147, 0.04)
			border-color #CDD3E4

	.status-circle
		display inline-block
		width 10px
		height 10px
		border-radius 50%

	.status-circle_color_grey
		background-color #CDD3E4
		
	.form-box 
		display flex
		flex-flow column
		position relative

	.form-box__label
		position absolute
		left 0
		top -20px
		width 100%
		display flex
		align-items center
		height 56px
		line-height 1.25
		padding 0 20px
		pointer-events none
		font-size 14px
		letter-spacing 0.01em
		color #8F97AC

	.form-box__input--no-place::-ms-input-placeholder , .form-box__input--no-place::-ms-input-placeholder
		opacity: 0;
		transition: inherit;

	.form-box__input--no-place::-webkit-input-placeholder 
		opacity: 0;
		transition: inherit;
			
	.form-box__input
		-webkit-appearance: none

	.form-box__label, .form-box__input
		transition: all 0.2s
		touch-action: manipulation

	.form-box__input:placeholder-shown + .form-box__label
		cursor: text
		max-width: 66.66%
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		transform-origin: left bottom
		transform: translate(0, 2.125rem) scale(1.5)

	.form-box__input:not(:placeholder-shown) + .form-box__label, .form-box__input:focus + .form-box__label 
		transform: translate(0, 3px) scale(1)
		cursor: pointer

	.form-box__icon
		position absolute
		right 0
		top 0
		display flex
		align-items center
		justify-content center
		height 56px
		width 40px

	.input, .textarea
		display block
		height 55px
		padding 10px 19px
		appearance none
		text-align left
		letter-spacing 0.01em
		font 14px "Roboto", sans-serif
		color #000
		background #fff
		border 1px solid $grey-color
		border-radius 2px
	.textarea
		padding-top 30px
		padding-bottom 9px
		min-height 126px
		height 126px
		overflow: hidden;
		line-height: 1.14285714;

	.input:disabled, .textarea:disabled
		background $dark-grey-color
		& + label
			color $grey-color

	.tooltip {
		position: relative;
		display: inline-block;
	}

	/* Tooltip text */
	.tooltiptext {
		visibility: hidden;
		opacity 0
		width: 50px;
		background rgba(0, 0, 0, 0.4)
		color: #fff;
		text-align: center;
		padding: 5px 0;
		background rgba(0, 0, 0, 0.4)
		border-radius 8px 8px 0px 
		box-shadow 1px 1px 10px rgba(0, 0, 0, 0.5)
		transition all 0.2s ease-in-out /* Добавить плавности по вкусу */
		font-size: 0.8em;

		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity 1
	}

	.tooltiptext-position-right
		top: -35px;
		right: 40%;
		border-radius: 8px 8px 8px 0px;
	.tooltiptext-position-left
		top: -25px;
		right: 40%;
		border-radius: 8px 8px 0px 8px;
	.tooltiptext-position-top
		top: -35px;
		right: 40%;
		border-radius: 8px 8px 8px 0px;
	.tooltiptext-position-bottom
		top: -35px;
		right: 40%;
		border-radius: 8px 8px 8px 0px;

	.tooltiptext-small
		width: 120px;
	.tooltiptext-medium
		width: 220px;
	.tooltiptext-big
		width: 420px;


	/********************/
	.table_container
		display flex
		flex-direction column
		overflow auto
	.table
		width 100%
		border-collapse separate
		border-spacing: 0;
		tr:hover
			background-color #d8d8d8
		tr
			position relative

			th
				font-weight 500
				letter-spacing 0.01em
				text-transform uppercase
				text-align left
				outline none
				color #8F97AC
				background #F5F6FA
				border none
				text-align left
				height 63px
				line-height 1.16666667
				span
					cursor pointer
					padding-right 14px
					display inline-block
					position relative;
			td
				padding 8px 17px 8px 0
				height 74px
				font-size 14px
				line-height 1.14285714
				letter-spacing 0.01em
				border-bottom 1px solid #CDD3E4
			.sorting 
				span:after
					content ''
					position absolute
					top 50%
					right 0
					margin-top -4px
					border-left:4px solid transparent
					border-right 4px solid transparent
					border-top 7px solid #8F97AC

			.asc 
				span:after
					border-top none
					border-bottom 7px solid #CC003D

			.desc
				span:after
					border-top-color: #CC003D;
			td,th
				padding-left: 20px;
		th:first-child 
			padding-left 20px


	.pagination
		display flex
		align-items center
		margin-top 20px
		margin-bottom 10px
		margin-left 20px
		.pagination__prev
			cursor pointer
			margin-right 10px
		.pagination__next
			cursor pointer
			margin-left 10px
		.pagination__button
			cursor pointer
			background-color $blue-color
			color #fff
			display flex
			align-items center
			justify-content center
			width 30px
			height 30px
			border-radius 7px
		.pagination__button:not(:first-child)
			margin-left 10px
		.selected
			color $grey-color

	.user_photo
		width 45px
		height 45px
		border-radius 100%
	
	.modal-body-span-ask
		margin 15px auto auto
		font-weight bold

	.modal-body-desc
		font-size 18px
		margin-bottom 10px
		font-weight bold
	.modal-header-title
		font-size 24px!important
		line-height 1.15!important	

	a
		text-decoration none
		display inline-block
		line-height 1
		color #2F73B6

	a:after
		display block
		content ""
		height 3px
		width 0%
		background-color #225384
		transition width 0.4s ease-in-out

	a:hover:after,
	a:focus:after
		width 100%
	
	a:hover
		color #225384		
